body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.81);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    background: linear-gradient(to left,rgba(234, 151, 131, 0.955), #3ff1fb);
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 0 4px 10px rgba(181, 179, 179, 0.779);
}

.search {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.search button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff9800;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.search button:hover {
    background: #e68900;
}

.wetherdetail{
    padding-top: 12px;
}

.wetherdetail h1, 
.wetherdetail h2 {
    margin: 10px 0;
    padding-bottom: 10px;
}

#wetherdetail h1 {
    font-size: 36px;
    font-weight: bold;
}

#wetherdetail h2 {
    font-size: 24px;
}

#temprature{
    font-size:55px;
}

/* Responsive Design */
@media screen and (max-width: 480px) {
    .container {
        width: 95%;
        margin: 50px auto;
        padding: 15px;
    }

    .search {
        flex-wrap: wrap;
        gap: 5px;
    }

    .search input {
        width: 100%;
    }

    .search button {
        width: 100%;
    }

    #temprature {
        font-size: 40px;
    }
}

